[meta,infra] DNS on dradis.com partially reachable

Dradis.com has limited resolvability.

Works on:
* sdf.org public access unix system
* bgp.he.net (took a while)
* Laptop with `dig @ns2.namebrightdns.com`s (took a while)

Doesn't work on:
* Laptop via various public resolvers (cloudflare, quad9)
* Laptop with local resolver
* Laptop with `dig @ns1.namebrightdns.com`
* Firefox DNS-over-HTTPS on default config on a fresh installed system.

Intermittent on:
* Laptop with `dig +trace` (quite slow when it works)

DnsViz reports

```
 No response was received from the server over UDP (tried 10 times) until the DO EDNS flag was cleared (however, this server appeared to respond legitimately to other queries with the DO EDNS flag set). See RFC 6891, Sec. 6.1.4. (54.237.199.87, UDP_-_EDNS0_4096_D_KN)
```

https://dnsviz.net/d/dradis.com/dnssec/

TTL is also quite low (30s), so the world might be knocking them over.

Should be fixed, @Laikulo care to confirm? Thanks for the report!

Appears normal to me and dnsviz. CF DNS seems to be pretty solid for most folks, though I did see the resolve side die once.

Apoligies for the long reply, been a bit busy recently.